[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
psycopg2-binary = "*"

[packages]
django = "*"
environs = "*"
django-widget-tweaks = "*"
django-fsm = "*"

[requires]
python_version = "3.8"
