<!--  BEGIN SIDEBAR  -->
<div class="sidebar-wrapper sidebar-theme">
            
    <nav id="sidebar">
        <div class="shadow-bottom"></div>

        <ul class="list-unstyled menu-categories" id="accordionExample">
            
            <li class="menu">
                <a href="{% url 'hits' %}" {% if "hits" in request.path %} data-active="true" {% endif %} aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <i data-feather="target"></i>
                        <span> Hits</span>
                    </div>
                </a>
            </li>
            {% if user.lackeys.all %}
            <li class="menu">
                <a href="{% url 'hitmen' %}" {% if "hitmen" in request.path %} data-active="true" {% endif %} aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <i data-feather="users"></i>
                        <span> Hitmen</span>
                    </div>
                </a>
            </li>
            {% endif %}

            <li class="menu">
                <a href="#" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <i data-feather="log-out"></i>
                        <span> Log out</span>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</div>
<!--  END SIDEBAR  -->