{% load static widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Spy Agency | Register </title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/plugins.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/authentication/form-2.css' %}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/forms/theme-checkbox-radio.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/forms/switches.css' %}">
</head>
<body class="form">
    <div class="form-container outer">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">

                        <h1 class="">Registro</h1>
                        <p class="signup-link register">¿Ya tiene una cuenta? <a href="{% url 'login' %}">Inicie sesión</a></p>
                        <form class="text-left" method="POST" action="" novalidate>
                            {% csrf_token %}
                            <div class="form">
                                <div id="email-field" class="field-wrapper input">
                                    <label for="email">{{ form.email.label|upper }}</label>
                                    <i data-feather="at-sign"></i>
                                    {% render_field form.email class+="form-control" placeholder=form.email.label %}
                                    {% for error in form.email.errors %}
                                    <div class="invalid-feedback" style="display: block;">{{ error }}</div>
                                    {% endfor %}
                                </div>

                                <div id="password-field" class="field-wrapper input mb-2">
                                    <div class="d-flex justify-content-between">
                                        <label for="password">{{ form.password1.label|upper }}</label>
                                    </div>
                                    <i data-feather="lock"></i>
                                    {% render_field form.password1 class+="form-control" placeholder=form.password1.label %}
                                    <i class="toggle-password" data-feather="eye"></i>
                                    {% for error in form.password1.errors %}
                                    <div class="invalid-feedback" style="display: block;">{{ error }}</div>
                                    {% endfor %}
                                   
                                </div>

                                <div id="password-field" class="field-wrapper input mb-2">
                                    <div class="d-flex justify-content-between">
                                        <label for="password">{{ form.password2.label|upper }}</label>
                                    </div>
                                    <i data-feather="lock"></i>
                                    {% render_field form.password2 class+="form-control" placeholder=form.password2.label %}
                                    <i class="toggle-password" data-feather="eye"></i>
                                    {% for error in form.password2.errors %}
                                    <div class="invalid-feedback" style="display: block;">{{ error }}</div>
                                    {% endfor %}
                                </div>

                                <div class="field-wrapper terms_condition">
                                    <div class="n-chk">
                                        <label class="new-control new-checkbox checkbox-primary">
                                          <input type="checkbox" class="new-control-input">
                                          <span class="new-control-indicator"></span><span>Estoy de acuerdo con los <a href="javascript:void(0);">  términos y condiciones </a></span>
                                        </label>
                                    </div>

                                </div>

                                <div class="d-sm-flex justify-content-between">
                                    <div class="field-wrapper">
                                        <button type="submit" class="btn btn-primary" value="">Crear cuenta</button>
                                    </div>
                                </div>

                                <div class="division">
                                    <span>O</span>
                                </div>

                                <div class="social">
                                    <a href="javascript:void(0);" class="btn social-fb">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg> 
                                        <span class="brand-name">Facebook</span>
                                    </a>
                                   <a href="javascript:void(0);" class="btn social-github">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
                                        <span class="brand-name">Github</span>
                                    </a>
                                </div>

                            </div>
                        </form>

                    </div>                    
                </div>
            </div>
        </div>
    </div>

    
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="{% static 'plugins/jquery/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/font-icons/feather/feather.min.js' %}"></script>
    
    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <script src="{% static 'assets/js/authentication/form-2.js' %}"></script>

    <script type="text/javascript">
        feather.replace();
    </script>

</body>
</html>