{% extends "base/base.html" %}

{% load static %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h5 class="text-primary">NAME</h5>
        <p>{{ object.get_full_name}}</p>
    </div>
    <div class="col-12">
        <h5 class="text-primary">EMAIL</h5>
        <p>{{ object.email }}</p>
    </div>
    <div class="col-12">
        <h5 class="text-primary">STATUS</h5>
        <p>{{ object.get_status }}</p>
    </div>
    {% if object.lackeys.all %}
    <div class="col-12">
        <h5 class="text-primary">LACKEYS</h5>
        <ul>
            {% for lackey in object.lackeys.all %}
            <li>{{ lackey.get_full_name }} - {{ lackey.email }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>

{% for transition in object.get_available_status_transitions %}
    <a href="{% url 'workflow_transition' transition.custom.app transition.custom.model transition.name object.id %}" 
        class="btn btn-{{ transition.custom.tag }} transition mb-2">
        {{ transition.custom.verbose }}
    </a>
{% endfor %}
{% endblock %}

{% block js %}
{{ block.super }}
<script src="{% static 'assets/js/apps/transitions.js' %}"></script>
{% endblock %}